# See: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# If you want to be a code owner for a specific part of the repository,
# feel free to send in a pull request!

* @StephanBijzitter
packages/dullahan-plugin-s3/* @StephanBijzitter @wilcokaartje2go
